body {
  background-color: #66ccff;
  padding: 3em;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  justify-content: center; /*centrowanie wszystkiego */
  align-content: center; /*centrowanie w pionie*/
}
